body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{
	margin-top: 0px;
	margin-bottom:0px;
}

h3{
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 20px;
}

#jettyAtHome {
	position: relative;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	background: -webkit-gradient(linear, left top, left bottom, from(#11998e), to(#38ef7d));
	background: -moz-linear-gradient(top, #11998e 0%, #38ef7d 100%);
	border: 0px solid;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4) inset;
	border-radius: 10px;
}

#vid {
	position: absolute;
	top: -100px;
	left: 0;
	min-width: 100%;
	min-height: 1500px;
}

@media (max-width:480px) {
	#vid {
		position: absolute;
		top: -100px;
		left: 0;
		height: 100%;
	}
}

.ptWrapper {
	top: -15px;
	right: 30px;
	position: absolute;
	width: 400px;
	padding-right: 30px;
}
#titleContainer {
	color: white;
	margin-top: 50px;
}

#title {
	position: relative;
	color: white;
	left: -165px;
	font-size: 180px;
	font-family: 'futura';
	font-weight: bold;
}

.pitchSection{
	margin-top: 100px;
}
.center {
	text-align: center;
	/*float: none;*/
	margin: 0 auto;
}

a:link {
	text-decoration: none;
}

#blog-link > a {
	color: white;

}
#blog-link {
	color: white;
	font-size: 35px;
	margin-top: 30px;
	text-align: right;
	left: 25px;
	font-weight: bold;
	position: relative;
}

.point {
	box-shadow: -1px 2px 2px rgba(34,34,34,0.6);
	-moz-box-shadow: -1px 2px 2px rgba(34,34,34,0.6);
	-webkitp-box-shadow: -1px 2px 2px rgba(34,34,34,0.6);
	position: relative;
	width: 100%;
	left: 0px;
	margin-top: 50px;
	padding: 15px;
	white-space: pre-wrap;
	color: black;
	background-color: rgba(235, 235, 235, 0.65);
	font-size: 20px;
}

.hero {
	margin-bottom: 60px;
}

#email {
	position: relative;
	margin-top: 80px;
	font-size: 50px;
	font-family: 'futura';
	font-weight: bold;
	left: -70px;
}