body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#vid {
	position: absolute;
	top: -100px;
	left: 0;
	min-width: 100%;
	min-height: 1500px;
}

@media (max-width:480px) {
	#vid {
		position: absolute;
		top: -100px;
		left: 0;
		height: 100%;
	}
}

.ptWrapper {
	top: -15px;
	right: 30px;
	position: absolute;
	width: 400px;
	padding-right: 30px;
}
#titleContainer {
	height: 330px;
}
#title {
	color: white;
	position: absolute;
	left: -165px;
	font-size: 180px;
	font-family: 'futura';
	font-weight: bold;
}

.center {
	text-align: center;
	/*float: none;*/
	margin: 0 auto;
}

a:link {
	text-decoration: none;
}

#blog-link > a {
	color: white;

}
#blog-link {
	color: white;
	font-size: 30px;
	margin-top: 30px;
	text-align: right;
	left: 25px;
	position: relative;
}

.point {
	box-shadow: -1px 2px 2px rgba(34,34,34,0.6);
	-moz-box-shadow: -1px 2px 2px rgba(34,34,34,0.6);
	-webkitp-box-shadow: -1px 2px 2px rgba(34,34,34,0.6);
	position: relative;
	width: 100%;
	left: 0px;
	margin-top: 50px;
	padding: 15px;
	white-space: pre-wrap;
	color: black;
	background-color: rgba(235, 235, 235, 0.65);
	font-size: 20px;
}

.hero {
	margin-bottom: 60px;
}

#email {
	position: relative;
	margin-top: 80px;
	font-size: 50px;
	font-family: 'futura';
	font-weight: bold;
	left: -70px;
}