body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#vid {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.ptWrapper {
	top: 100px;
	right: 30px;
	position: absolute;
	width: 400px;
	padding-right: 30px;
}
#titleContainer {
	height: 330px;
}
#title {
	position: absolute;
	left: -150px;
	font-size: 180px;
	font-family: 'futura';
	font-weight: bold;
}

.center {
	text-align: center;
	/*float: none;*/
	margin: 0 auto;
}

.point {
	position: relative;
	width: 100%;
	left: 0px;
	margin-top: 50px;
	padding: 15px;
	white-space: pre-wrap;
	color: black;
	background-color: rgba(235, 235, 235, 0.65);
	font-size: 20px;
}

.hero {
	margin-bottom: 60px;
}

#email {
	display: inline-block;
}